<html lang="en">
<body>
<h2>Web Contact Submission</h2>
<ul>

    <li><strong>Name: </strong><%= name %></li>
    <li><strong>Email: </strong><%= email %></li>
    <li><strong>Phone: </strong>
        <a href="https://www.ipqualityscore.com/free-carrier-lookup/lookup/CA/<%= phoneNumber %>"><%= phoneNumber %></a>
    </li>

    <li style="margin-top: 0.8em; margin-bottom: 0.8em">
        <strong>Comments:</strong>
        <%= comments.replace('\n', '<br/>') %>
    </li>

    <li>
        <strong>IP Address:</strong>
        <% if(session.ipAddress) { %>
            <a href="https://ipinfo.io/<%= session.ipAddress %>"><%= session.ipAddress %></a>
        <% } else { %>
            <em>Unavailable</em>
        <% } %>
    </li>
    <% if(session.userAgent) { %>
    <li><strong>Browser: </strong><%= session.userAgent %></li>
    <% } %>
</ul>
</body>
</html>
